@model IEnumerable<BugTrackerProject.Models.Ticket>

@{
    ViewBag.Title = "ListOfTickets";
}

<h2>ListOfTickets</h2>

@if (ViewBag.Submitter != null || ViewBag.Demo != null)
{
    <p>
        @Html.ActionLink("Create New Ticket", "CreateTicket")
    </p>
}

<input type="hidden" value="@ViewBag.conditionInput" id="hiddenId" />

<table id="userTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th> @Html.DisplayNameFor(model => model.Created)</th>
            <th> @Html.DisplayNameFor(model => model.Updated)</th>
            <th> @Html.DisplayName("Project")</th>
            <th> @Html.DisplayName("Ticket Type")</th>
            <th> @Html.DisplayName("Ticket Priority")</th>
            <th> @Html.DisplayName("Ticket Status")</th>
            <th> @Html.DisplayName("Developer")</th>
            <th> @Html.DisplayName("Ticket Owner")</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <th>@Html.DisplayFor(modelItem => item.Title)</th>
                    <th>@Html.DisplayFor(modelItem => item.Created)</th>
                    <th>@Html.DisplayFor(modelItem => item.Updated)</th>
                    <th>@Html.DisplayFor(modelItem => item.Project.Name)</th>
                    <th>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</th>
                    <th>@Html.DisplayFor(modelItem => item.TicketType.Name)</th>
                    <th>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</th>
                    <th>@Html.DisplayFor(modelItem => item.AssignToUser.UserName)</th>
                    <th>@Html.DisplayFor(modelItem => item.OwnerUser.UserName)</th>
                    <th>@Html.ActionLink("Ticket Details", "EditTickets", new { ticketId = item.Id })</th>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th> @Html.DisplayNameFor(model => model.Created)</th>
            <th> @Html.DisplayNameFor(model => model.Updated)</th>
            <th> @Html.DisplayName("Project")</th>
            <th> @Html.DisplayName("Ticket Type")</th>
            <th> @Html.DisplayName("Ticket Priority")</th>
            <th> @Html.DisplayName("Ticket Status")</th>
            <th> @Html.DisplayName("Developer")</th>
            <th> @Html.DisplayName("Ticket Owner")</th>
            <th></th>
        </tr>
    </tfoot>
</table>


<script>

    $(document).ready(function () {
        $.noConflict();
        $('#userTable').dataTable();
    });
</script>

